<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :profile_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :profile_last_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :profile_location %>
  </div>

  <div class="field">
    <%= form.label :hobbies %>
    <%= form.text_area :hobbies, id: :profile_hobbies %>
  </div>

  <div class="field">
    <%= form.label :banner_image_data %>
    <%= form.text_area :banner_image_data, id: :profile_banner_image_data %>
  </div>

  <div class="field">
    <%= form.label :profile_image_data %>
    <%= form.text_area :profile_image_data, id: :profile_profile_image_data %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :profile_user_id %>
  </div>

  <div class="field">
    <%= form.label :follower_count %>
    <%= form.number_field :follower_count, id: :profile_follower_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
